<div class="flex flex-col justify-center items-start w-full h-fit py-5">
  <div
    class="w-full md:w-[80%] flex items-center justify-center mx-auto flex-col gap-3 px-3"
  >
    <h2 class="text-sm md:text-2xl font-bold capitalize text-black">
      experience the natural healing power of {{ serviceName }}. book your
      session now and say goodbye to pain!
    </h2>

    <sosinc-button
      label="Contact Us Now"
      link="/contact"
      className="bg-primary hover:bg-blue-900 text-white rounded-lg py-5 px-3 mt-4"
    />
  </div>
</div>
