     .navbar-toggle {
     @apply  flex md:hidden flex-col items-center justify-evenly w-fit h-7 z-[99999] cursor-pointer;
  }

  .navbar{
   @apply flex items-center justify-evenly gap-2 w-[64%];
  }

  @media(max-width: 768px){
      .navbar{
          @apply fixed w-[50vw] h-[80vh] bg-primary flex-col gap-5 right-0 top-[10%] md:top-[13.5%];
        }
        
        .navbar.close{
            @apply hidden;
        }
    }
        
.navbar-toggle .bar {
    @apply w-5 h-[3px] bg-white transition-all duration-[200ms];
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(7.2px) rotate(40deg);
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-7.2px) rotate(-40deg);
  }