<div
  class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-white overflow-x-hidden"
>
  <div class="hidden md:flex justify-between items-center h-[4rem]">
    <div class="flex bg-primary items-center h-full justify-center w-[20%]">
      <a routerLink="/">
        <!-- <h1 class="text-3xl text-primary">SOSIC</h1> -->
        <img
          class="h-full rounded-md bg-cover"
          src="/assets/images/logo.png"
          alt="Logo"
        />
      </a>
    </div>

    <ul class="flex items-center justify-evenly w-[78%]">
      <li class="flex items-center justify-center gap-3">
        <h5>Emergency</h5>
        <img
          src="/assets/svgs/phone.svg"
          alt="phone"
          class="w-[1.5rem] h-[2rem]"
        />
        <a href="tel:+707-633-9805">+707-633-9805</a>
      </li>

      <li class="flex items-center justify-center gap-3">
        <h5>Location</h5>
        <img
          src="/assets/svgs/location.svg"
          alt="Location"
          class="w-[1.5rem] h-[2rem]"
        />
        <a
          href="https://maps.app.goo.gl/c8ghPzKvT5FxjL1c8"
          target="_blank"
          rel="noopener noreferrer"
        >
          1010 Nut Tree Road, Vacaville, CA, 95687</a
        >
      </li>
    </ul>
  </div>

  <nav
    class="z-[99999] w-full max-w-[100vw] h-[4rem] bg-primary flex items-center justify-between"
  >
    <div class="flex md:hidden items-center justify-start pl-3 w-[45%] h-full">
      <a routerLink="/">
        <!-- <h1 class="text-3xl text-white">SOSIC</h1> -->
        <img
          class="bg-primary h-full w-full bg-cover"
          src="/assets/images/logo.png"
          alt="Logo"
        />
      </a>
    </div>
    <ul [class]="IsOpen ? 'navbar open' : 'navbar close'" class="z-[999]">
      <li (click)="toggle()">
        <a
          class="text-white font-semibold hover:text-secondary"
          routerLink="/"
          routerLinkActive="text-secondary"
          >Home</a
        >
      </li>
      <li (click)="toggle()">
        <a
          class="text-white font-semibold hover:text-secondary"
          routerLink="/about"
          routerLinkActive="text-secondary"
          >About Us</a
        >
      </li>
      <li (click)="toggle()">
        <a
          class="text-white font-semibold hover:text-secondary"
          routerLink="/services"
          routerLinkActive="text-secondary"
          >Services</a
        >
      </li>
      <li (click)="toggle()">
        <a
          class="text-white font-semibold hover:text-secondary"
          routerLink="/contact"
          routerLinkActive="text-secondary"
          >Contact Us</a
        >
      </li>
    </ul>

    <div class="flex justify-around items-center gap-3 w-[53%] md:w-[35%]">
      <sosinc-button
        className="bg-accent text-primary hover:bg-secondary hover:text-white"
        label="Appointment"
        link="/appointment"
      />

      <div
        [class]="IsOpen ? 'navbar-toggle active' : 'navbar-toggle'"
        (click)="toggle()"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
</div>
