<section class="h-auto w-screen">
  <sosinc-page-header page="About" pageTitle="About" />

  <div
    class="w-full h-auto py-6 lg:h-[25rem] flex flex-wrap p-4 gap-[2%] mx-auto"
  >
    <div
      class="w-full h-full md:w-[48%] flex flex-col items-center justify-center gap-[2%] shadow rounded"
    >
      <div class="flex flex-col px-6">
        <h1 class="text-xl font-bold text-center">About us</h1>
        <p class="text-lg font-normal">
          SOSInc. is a company that specializes in providing software solutions
          for various industries, including but not limited to:
        </p>
      </div>
      <div class="flex flex-col justify-center items-center mt-4 px-2">
        <h2 class="text-lg font-semibold text-center">
          We offer assistance in:
        </h2>
        <hr class="h-[2px] mx-auto my-4 bg-primary w-full" />
        <ul class="grid grid-cols-2 gap-2 px-2">
          <li>Pain management</li>
          <li>Fall prevention</li>
          <li>Vertigo relief</li>
          <li>Balance retention</li>
          <li>Flexibility enhancement</li>
          <li>Posture improvement</li>
          <li>Mobility restoration</li>
          <li>Strength building</li>
        </ul>
      </div>
    </div>

    <div
      class="mt-8 md:mt-0 w-full bg-primary h-full md:w-[48%] flex flex-col items-center justify-center shadow rounded"
    >
      <img
        src="/assets/images/about.jpeg"
        alt="About Us"
        class="bg-cover w-full h-full"
      />
    </div>
  </div>

  <div class="w-full h-auto flex flex-col items-center justify-center px-4">
    <h1 class="text-3xl font-bold text-center">
      FREQUENTLY ADDRESSED CONDITIONS
    </h1>

    <div
      class="w-[48%] h-full flex flex-col items-center justify-center gap-y-4 shadow"
    ></div>
    <div
      class="w-[48%] h-full flex flex-col items-center justify-center gap-y-4 shadow"
    ></div>
  </div>
</section>
