<section class="h-auto w-screen">
  <sosinc-page-header page="About" pageTitle="About" />

  <div
    class="w-full h-auto py-6 lg:h-[30rem] flex flex-wrap p-4 gap-[2%] mx-auto"
  >
    <div
      class="w-full h-full md:w-[48%] flex flex-col items-center justify-center gap-[2%] shadow rounded"
    >
      <div class="flex flex-col px-6">
        <h1 class="text-xl font-bold text-center">Who We Are</h1>
        <p class="text-lg font-normal">
          Welcome to Specialized Orthopedic Surgeons, where a team of highly
          skilled and compassionate orthopedic specialists is dedicated to
          delivering exceptional care. Our commitment to excellence in
          diagnosing, treating, and rehabilitating musculoskeletal conditions
          ensures that each patient receives personalized treatment with ultra
          modern medical equipments.
        </p>
      </div>
      <div class="flex flex-col justify-center items-center mt-4 px-2">
        <h2 class="text-lg font-semibold text-center">
          We offer assistance in:
        </h2>
        <hr class="h-[2px] mx-auto my-4 bg-primary w-full" />
        <ul class="grid grid-cols-2 gap-2 px-2">
          <li>Pain management</li>
          <li>Fall prevention</li>
          <li>Vertigo relief</li>
          <li>Balance retention</li>
          <li>Flexibility enhancement</li>
          <li>Posture improvement</li>
          <li>Mobility restoration</li>
          <li>Strength building</li>
        </ul>
      </div>
    </div>

    <div
      class="mt-8 md:mt-0 w-full bg-primary h-full md:w-[48%] flex flex-col items-center justify-center shadow rounded"
    >
      <img
        src="/assets/images/about.jpg"
        alt="About Us"
        class="bg-cover w-full h-full"
      />
    </div>
  </div>

  <sosinc-faqs />
  <sosinc-cta
    serviceName="physical therapy, women's health, therapeutic massage and myofascial release and more"
  />
</section>
