<div class="w-screen h-auto">
  <sosinc-page-header page="Appointment" pageTitle="Book Your Appointment" />

  <div
    class="w-full flex-wrap h-fit flex items-center justify-center p-4 shadow gap-x-4"
  >
    <div
      class="w-full md:w-[48%] h-auto flex flex-col items-center justify-between gap-y-4"
    >
      <div class="w-full flex flex-col items-start justify-start gap-y-4">
        <p class="text-base text-black mt-2">
          Take the first step toward optimal musculoskeletal health – Secure
          your personalized consultation with our expert orthopedic team today
          and embark on a journey to enhanced well-being
        </p>
      </div>

      <form
        class="w-full h-full flex flex-col items-center justify-center gap-y-5"
        (ngSubmit)="onSubmit()"
        [formGroup]="appointmentForm"
      >
        <div
          class="flex flex-col rounded-lg bg-primary items-center justify-center w-full h-fit py-0"
        >
          <div
            class="w-full h-14 flex items-center justify-center border-b-2 border-white"
          >
            <input
              class="w-[50%] rounded-tl-lg border-r border-b-2 border-b-white border-r-white placeholder:text-white"
              type="name"
              placeholder="Enter Your Name"
              formControlName="name"
              name="name"
              id="name"
            />
            <select
              class="w-[50%] rounded-tr-lg border-b-2 border-b-white text-white placeholder:text-white"
              formControlName="gender"
              name="gender"
              id="gender"
            >
              <option value="">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="flex items-center gap-4 justify-between">
            @if (isInputValid('name', 'required')) {
            <p>Name is required.</p>
            } @if(isInputValid('gender', 'required')){
            <p>Gender is required.</p>
            }
          </div>
          <div
            class="w-full h-14 flex items-center justify-center border-b-2 border-white"
          >
            <input
              class="w-[50%] rounded-tl-lg border-b-0 border-r border-r-white placeholder:text-white"
              type="email"
              placeholder="example@gmail.com"
              formControlName="email"
              name="email"
              id="email"
            />
            <input
              class="w-[50%] rounded-tr-lg border-b-0 placeholder:text-white"
              type="text"
              placeholder="+140348020843"
              formControlName="phone"
              name="phone"
              id="phone"
            />
          </div>
          <div class="flex items-center gap-4 justify-between">
            @if(isInputValid('email', 'required')){
            <p>Email is required.</p>
            }@if (isInputValid('email','email')) {
            <p>Please enter a valid email address.</p>
            } @if (isInputValid('phone', 'pattern')) {
            <p>Please enter a valid phone number.</p>
            }
          </div>
          <select
            class="w-full border-b border-b-white placeholder:text-white text-white"
            formControlName="department"
            name="department"
            id="department"
          >
            <option value="">Department</option>
            <option value="physical therapy" class="capitalize">
              physical therapy
            </option>
            <option value="therapeutic massage" class="capitalize">
              therapeutic massage
            </option>
            <option value="myofascial release" class="capitalize">
              myofascial release
            </option>
            <option value="women's health" class="capitalize">
              women's health
            </option>
          </select>
          @if(isInputValid('department','required')){
          <p>Department is required.</p>
          }
          <textarea
            class="w-full border-none outline-none text-white pl-4 mt-4 bg-primary placeholder:text-white"
            id="message"
            formControlName="message"
            cols="30"
            rows="6.5"
            placeholder="Write Your Message"
          ></textarea>
          @if(isInputValid('message', "required")){
          <p>Message is required.</p>
          }@if (isInputValid('message', 'minlength')) {
          <p>Message cannot be less than 100 characters.</p>
          }
          <button
            class="{{
              isSending() ? 'cursor-not-allowed' : 'cursor-pointer'
            }} w-full rounded-b-lg h-14 bg-accent text-primary hover:bg-primary hover:border-t hover:border-t-white hover:text-white capitalize font-normal flex items-center justify-center px-5 py-3 text-sm md:text-lg text-center transition-all outline-none border-r-0 border-b-0 border-l-0"
            type="submit"
            [disabled]="isSending()"
          >
            {{ isSending() ? "Sending..." : "Send" }}
          </button>
        </div>
      </form>
    </div>
    <div
      class="w-full h-auto md:w-[48%] flex flex-wrap items-center justify-center mb-6 my-10 gap-4"
    >
      <div class="animae">
        <img class="mb-4" src="/assets/svgs/phone.svg" alt="phone" />
        <a href="tel:237-681-812-255">(237) 681-812-255</a>
      </div>
      <div class="animae">
        <img class="'mb-4" src="/assets/svgs/location.svg" alt="Our Location" />
        <h2>Location</h2>
        <a
          class="text-sm font-normal"
          href="https://maps.app.goo.gl/c8ghPzKvT5FxjL1c8"
        >
          Specialized Orthopedic Surgeons, INC. 1010 Nut Tree Road, Vacaville,
          CA, 95687
        </a>
      </div>
      <div class="animae">
        <img src="/assets/svgs/email.svg" alt="Our contact email" />
        <h2>Email</h2>
        <a
          href="mailto:info&commat;specializedorthosurgeons.com"
          class="text-[0.6rem] md:text-sm font-normal"
          >info&commat;specializedorthosurgeons.com</a
        >
      </div>
      <div class="animae">
        <img
          class="mb-4"
          src="/assets/svgs/working-hour.svg"
          alt="Our Working hour"
        />
        <h2>Working Hour</h2>
        <p>Mon-Sat 09:00-20:00</p>
        <p>Sunday Emergency only</p>
      </div>
    </div>
  </div>

  <sosinc-faqs />
  <hr class="h-[2px] bg-primary w-full" />
  <sosinc-cta
    serviceName="physical therapy, women's health, therapeutic massage and myofascial release"
  />
</div>
