<div
  class="img-container relative flex w-screen h-36 justify-start items-center"
>
  <img
    class="bg-cover h-full mx-auto w-full object-cover z-0"
    src="../../../assets/images/orthopedic/hero.webp"
    [alt]="pageTitle"
  />
  <h6
    class="absolute capitalize top-4 left-4 z-[20] font-normal text-lg text-white"
  >
    Home / {{ page }}
  </h6>
  <h1
    class="absolute uppercase top-20 sm:top-12 left-4 z-[20] font-bold text-xl sm:text-3xl md:text-6xl text-white"
  >
    {{ pageTitle }}
  </h1>
</div>
