/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
     @apply font-inter overflow-x-hidden;
}

section{
    @apply w-full h-screen mx-auto md:w-[87%] px-3 py-8 my-6;
}


/* Define the styles for the scrollbar track and thumb */
/* This will work in some modern browsers (e.g., Chrome) */

/* Track (the background of the scrollbar) */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
 @apply bg-primary; /* color of the scrollbar thumb */
  border-radius: 6px; /* rounded corners of the thumb */
}

/* Handle when the user hovers over the thumb */
::-webkit-scrollbar-thumb:hover {
@apply bg-primary; /* color of the thumb on hover */
}

/* Track (background of the scrollbar) when not hovering over the thumb */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle when the user hovers over the track */
::-webkit-scrollbar-track:hover {
  background: #ddd;
}

/* Corner (between the vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}