/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

body{
     @apply font-sans overflow-x-hidden;
}

section{
    @apply w-full md:w-[87%] h-fit px-3 py-8 my-6;
}